/* CSS Document */
@font-face{
	font-family: 'title-font';
	src:url("../fonts/Commando-fontfacekit/web%20fonts/commando_regular_macroman/commando-webfont.woff") format('woff');
}

@font-face{
	font-family: 'body-font';
	src: url("../fonts/droid-sans-fontfacekit/web%20fonts/droidsans_regular_macroman/DroidSans-webfont.woff") format('woff');
}

body{
	font-family: body-font;
	background-color: #c2c1f5;
}

.page{
	margin: 0 auto;
	width: 960px;
	min-height:100vh;
}

.logo{
	padding: .5em;
}
.search{
	font-family:title-font;
	color: #ffbd62;
	padding-left: 0.5em;
}

.nav-main li{
	border-left: 1px solid #c8c8c8;
	display: inline-block;
}

.nav-main li:first-child{
	border-left: none;
}

.nav-main a{
	display: inline-block;
	text-transform: uppercase;
	color: #ffbd62;
	text-decoration:none;
	padding: .5em;
	font-family:title-font;
	text-align:center;
}

.nav-main{
	border-top: 5px solid #ffe901;
	border-bottom: 1px solid #c8c8c8;
	padding: .5em 0 .5em;
	align-items:center;
}

.container{
	float: left;
}

.main{
	padding: 1.5em;
	background:rgba(255,255,255,0.5);
	border-radius: 35px;
	color: #c27000;
	min-width: 910px;
}

.main-aside{
	padding: 1.5em;
	background:rgba(255,255,255,0.5);
	border-radius: 35px;
	color: #c27000;
	width: 550px;
	float: left;
}

.main h1{
	font-family: title-font;
	text-align:center;
}

.main-aside h1{
	text-align:center;
	text-transform: uppercase;
	font-family: title-font;
}

.aside{
	position: relative;
	float: left;
	width: 300px;
	margin: 5px;
	padding: 1em;
	background: rgba(255,255,255,0.5);
	border-radius: 25px;
}

#login-aside{
	padding: 0.5em;
}

#login-aside h2{
	text-align:center;
	text-transform:uppercase;
	font-family: title-font;
}

article{
	background: rgba(255,189,98,0.5);
	border-radius: 25px;
	padding: 0.5em;
	margin: 0.5em;
}

article h2{
	text-transform:uppercase;
	text-align: center;
	font-family: title-font;
}

input{
	background-color: rgba(255,189, 98, 0.8);
	align-content: center;
}


#submit{
	font-family: title-font;
	padding: 0.5em;
}

#submit: active{
	background:no-repeat;
}

#cancel{
	font-family: title-font;
	padding: 0.5em;
}

#cancel: active{
	background:no-repeat;
}

#reject{
	font-family: title-font;
	padding: 0.5em;
}

#reject: active{
	background:no-repeat;
}

.footer{
	margin-top: 5px;
	border-top: 1px solid #2320d3;
	text-transform: uppercase;
	text-align: center;
	color: #ffbd62;
	bottom: 0;
	width: 100%;
	height: 60px;
	float:left;
}

.form
{
	align-content:center;
	font-family: title-font;
	
}

.game
{
	margin: 5px;
	padding: 1em;
	background: rgba(255,189,98,0.3);
	border-radius: 25px;
	
}

.game h2{
	color:#ffbd62;
	font-family: title-font;
	text-transform:uppercase;
}

.game a{
	text-decoration:none;
}

.formbottom
{
	align-content:center;
	border-top:  1px solid #c8c8c8;
	padding-top: 1em;
}

#addrequestform{
	font-family: body-font;
	align-content: center;
}

textarea{
	background-color: rgba(255,189, 98, 0.8);
	align-content: center;
	resize: none;
}

select{
	background-color: rgba(255,189, 98, 0.8);
	align-content: center;
}

#commentRate {
	font-size: 1.4em;
}

#commentRate textarea {
	font-family: body-font;
	background-color: rgba(255,189, 98, 0.3);
	align-content: center;
}

#commentRate select{
	font-family: body-font;
	background-color: rgba(255,189, 98, 0.3);
	align-content: center;
	font-size: 1.05em;
}

#gameCont{
	padding: 1em;
}

#gameImg img{
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#gameImg {
	text-align:center;
}

#gameImg a{
	text-decoration: none;
}
#gameCont font{
	color: #59009a;
	text-transform: uppercase;
}

#entergameform{
	display: block;
}

#entergameform textarea{
	font-family: body-font;
	background-color: rgba(255,189, 98, 0.3);
	align-content: center;
}

    .logout {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.logout:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}

    .admin {
    position: fixed;
    bottom: 6em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.admin:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}